main {
    width: 600px;
    margin: 0 auto;
}
section {
    margin:20px 0;
}

#one label {
    text-align: left;
    display: block;
}

#full_name {
    display: inline-block;
}

#email1 {
    width: 480px;
}

#one select {
    width: 500px;
    background-color: rgb(125, 123, 123);
    height: 25px;
}
#one textarea{
    display: block;
}
#one input[type="submit"] {
    background-color: rgb(58, 118, 189);
    padding: 5px;
    color:white;
}



#two h1 {
    font-style: italic;
    border-bottom: 2px solid grey;
}
#two label {
    display: inline-block;
    width: 150px;
}
#name2, #email2, #phone, #regarding{
    width: 300px;
    margin-top: 1em;
}
#two select {
    width: 200px;
    margin-right: 7em;
}
#two label[for="message2"] {

}
#two textarea {
    margin-top: 1em;
}
#two input[type="submit"] {
    margin-left: 10.5em;
    margin-top: 1em;
}


#three fieldset {
    border: 1px solid rgb(254, 185, 195);
    border-radius: 15px;
    background-color: rgb(254, 185, 195);
}
#three legend {
    color: rgb(252, 8, 177);
    border: 1px solid rgb(252, 8, 177);
    border-radius: 5px;
    border-bottom: none;
    padding: 1em;
    background-color: rgb(254, 185, 195);
    margin-top: 1em;
}
#three input {
    border: 1px solid rgb(252, 8, 177);
    background-color: rgb(254, 185, 195);
    border-radius: 5px;
}
#three label {
    color: rgb(252, 8, 177);
    display: inline-block;
    margin:15px;
    width: 120px;
}
#three input[type="submit"] {
    background-color: rgb(252, 8, 177);
    color: rgb(254, 185, 195);
}
#three #message3 {
    border: 1px solid rgb(252, 8, 177);
    background-color: rgb(254, 185, 195);
    border-radius: 5px;
}
#name3, #email3, #phone3 {
    width: 280px;
    height:2em;
    margin-top: 1em;
}
#three select[name="subject"] {
    width: 285px;
    border: 1px solid rgb(252, 8, 177);
    background-color: rgb(254, 185, 195);
    border-radius: 5px;
}
#three input[type="submit"] {
    margin-left: 10.5em;
    margin-top: 1em;
}


#four {
    background-color: rgb(56, 52, 110);
}
#four label {
    color:white;
    width: 40%;
}
#name4, #email4, #subject4, #message4 {
    background-color: rgb(56, 52, 110);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px dashed rgb(124, 132, 203);
    color: rgb(150, 150, 150);
    margin-left: 22em;
}

#four input[type="submit"] {
    color: rgb(124, 132, 203);
    background-color: rgb(86, 89, 161);
    border-radius: 5px;
    border-color: rgb(86, 89, 161);
    border-style: none;
    padding: 0.5em;
}
#seven h2{
    text-align: center;
    width:60%;
    color: rgb(179, 175, 175);
}
#seven fieldset {
    border-color: rgb(200, 200, 200);
    border-radius: 5px;
    width: 400px;
    margin: 0;
    padding: 0;
    margin-bottom: 1.5em;
}
#seven fieldset legend {
    color:rgb(200, 200, 200);
}
#seven fieldset input {
    background-color: rgb(200, 200, 200);
    border: none;
    margin-top: 1em;
    width: 400px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    text-align: center;
}
#seven input[type="submit"]{
    background-color: rgb(38, 85, 163);
    border: 2px solid rgb(75, 106, 143);
    color: white;
    margin-left: 11em;
    padding: 0.5em;
}
